@model IEnumerable<Pagamento.App.ViewModels.TransacaoViewModel>

@{
    ViewData["Title"] = "Lista de Transações";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Pagamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Installments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnCode)
            </th>           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Installments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnCode)
            </td>           
            <td>
                <a class="btn btn-info" asp-action="Capture" asp-route-id="@item.Id"><spam class="fa fa-camera"></spam></a> 
                <a class="btn btn-danger" asp-action="Cancel" asp-route-id="@item.Id"><spam class="fa fa-window-close"></spam></a>                                
            </td>
        </tr>
}
    </tbody>
</table>
